@import "./global.scss";

.section {
  &.section-one   { background-color: $color-1; }
  &.section-two   { background-color: $color-2; }
  &.section-three { background-color: $color-3; }
  &.section-four  { background-color: $color-4; }
  &.section-five  { background-color: $color-5; }
}

#map {
  width: 100%;
  height: 500px;
}
