extends layout

append pageStyle
  link(rel="stylesheet", href="/style/index.css")

append content
  div.fullpage(id="fullpage")
    div.section.section-one
      div.container
        div.row
          div.col-md-12
            h1.text-center
              i.fa.wide-kerning.fa-car
              i.fa.wide-kerning.fa-bolt
              i.fa.wide-kerning.fa-bicycle
            h1.text-center See how an electric vehicle can benefit you
            hr
        div.row
          div.col-md-12
            p In order to determine how well an Electric Vehicle will suit your lifestyle, this tool requires your location history provided from #[a(href="https://takeout.google.com/settings/takeout/custom/location_history?hl=en&gl=US&expflags", target="_blank") Google Takeout]. The data processing runs completely in-browser, so none of your data is stored on our servers. This project is also open source, so the code that is running on your browser can be viewed on #[a(href="https://github.com/kylehovey/ev-drive-analyzer", target="_blank") GitHub].
        div.row
          div.col-md-12.text-center
            button.btn.btn-primary.btn-lg(
              type="button",
              id="upload-json",
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing File"
            ) Upload Location History
            input(type="file", id="upload-json-input")
            h2.hidden(id="upload-done") Done!
    div.section.section-two
      div.container
        div.row
          div.col-12
            h1.text-center Page Two

append userScripts
  script(src="/js/app/pages/index/app.js")
  script(src="/js/app/pages/index/main.js")
