doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title=title

    block externalFonts
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css?family=Comfortaa|Varela+Round"
    )

    block externalStyle
    link(rel="stylesheet", href="/style/external/bootstrap.min.css")
    link(rel="stylesheet", href="/style/external/font-awesome.min.css")
    link(rel="stylesheet", href="/style/external/jquery.fullpage.min.css")
    link(rel="stylesheet", href="/style/external/sweetalert.min.css")
    link(rel="stylesheet", href="/style/external/mapbox.css")

    block pageStyle
  body
    block content

    block externalScripts
      script(src="/js/external/polyfill.min.js")
      script(src="/js/external/lodash.min.js")
      script(src="/js/external/jquery.min.js")
      script(src="/js/external/jquery.fullpage.min.js")
      script(src="/js/external/bootstrap.min.js")
      script(src="/js/external/sweetalert.min.js")
      script(src="/js/external/turf.min.js")
      script(src="/js/external/mapbox.js")
      script(src="/js/external/google.charts.js")

    block utility
      script(src="/js/app/utility/tripDataAnalyser/tripDataAnalyser.js")
    block types
      script(src="/js/app/types/node/node.js")
      script(src="/js/app/types/edge/edge.js")
      script(src="/js/app/types/graph/graph.js")
      script(src="/js/app/types/location/location.js")
      script(src="/js/app/types/trip/trip.js")
      script(src="/js/app/types/vehicle/vehicle.js")
      script(src="/js/app/types/dealership/dealership.js")
    block components
      script(src="/js/app/components/vehicleStats/vehicleStats.js")
    block userScripts
