mixin fileInput(id)
  div.input-group
    label.input-group-btn
      span.btn.btn-primary Browse&hellip;
      input(id=`selectFiles${id}`, type="file", style="display:none")
    input.form-control(id=`selectFilesText${id}`, type="text", readonly="readonly")
