extends layout

append jumbotron
  p Download your location history in JSON format from #[a(href="https://takeout.google.com/settings/takeout/custom/location_history?hl=en&gl=US&expflags") Google Takeout]
  p Upload your LocationHistory.json file:
  div.input-group
    label.input-group-btn
      span.btn.btn-primary Browse&hellip;
      input(id="selectFiles", type="file", style="display:none")
    input.form-control(id="selectFilesText", type="text", readonly="readonly")
  br
  div.panel.panel-default
    div.panel-heading Options
    div.panel-body
      label(for="select-car") Electric vehicle
      select(id="select-car")
        optgroup(label="Cars")
          option(value="500e") Fiat 500e (84 miles)
          option(value="leaf") Nissan Leaf (107 miles)
          option(value="i3") BMW i3 (114 miles)
          option(value="model-3") Tesla Model 3 (215 miles)
          option(value="model-x") Tesla Model X (257 miles)
          option(value="model-s") Tesla Model S (294 miles)
        optgroup(label="Other")
          option(value="scooter") Scooter (10 miles)
          option(value="bike") Bike (20 miles)
          option(value="bike-40") Bike (40 miles)

      br

      label(for="use-log-scale") Use log scale on graph:
      input(id="use-log-scale",type="checkbox")

      br

      label(for="stations-to-use") Include planned charging stations:
      input(id="stations-to-use", type="checkbox", checked=true)

      br

      label(for="previous-days") Number of days for detailed analysis:
      input(id="previous-days", type="number", value="90")

      br

      label(for="only-problem-days") Show only problem days in detailed analysis:
      input(id="only-problem-days", type="checkbox")

      br
  div
    a(href="two-person.html") Two-person Vehicle Recommender

append content
  div(id="all_output", style="visibility: hidden")
    div.panel.panel-default
      div.panel-heading
        h3 Overall summary
      div.panel-body
        div(id="chart_trips_div")
        div(id="chart_days_div")
        div(id="chart_no_charging_div")
        div(id="chart_with_charging_div")
    div.panel.panel-default
      div.panel-heading
        h3 Last #[span(id="prev_days_span")] days analysis
      div.panel-body
        div(id="latest_days_div")
  div(id="spinner")

append userScripts
  script(src="/js/app/index/app.js")
  script(src="/js/app/index/main.js")
